

*, *::after, *::before {
    box-sizing: border-box;
    /* transition: all 0.3s cubic-bezier(0.33, 0.72, 0, 1.18); */
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    cursor: none;
}

:root {
    --h1-font: 15rem;
    --h2-font: 3rem;
    --h3-font: 2.5rem;
    --h4-font: 2rem;
    --h5-font: 1.6rem;
    --p-font: 1.25rem;
    --nav-font: 1.5rem;
    --sideNav-font: 4rem;

    --border-radius-articleBox: 12px;
    --border-radius-nav: 8px;
    --BoxWidth: 100%;
    --backgroundColorArticle: rgba(28, 102, 167, 0.2);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 8em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0; */
    overflow: hidden;
    background-color: rgba(28, 102, 167, 0.8);

    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
 */

    animation: slideIn 0.6s cubic-bezier(0.33, 0.72, 0, 1.18) forwards;
    /* animation-delay: 1s; */

    > h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        > a {
            font-size: var(--h1-font);
            letter-spacing: 180px;
            margin-right: -180px;
            color: black;
            text-decoration: none;
            padding: 0;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 5px;

            transition: letter-spacing 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), margin-right 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
            animation: letterAnimation 1.2s cubic-bezier(0.33, 0.72, 0, 1.18);

            animation-timeline: scroll(root);

            animation-range: 0vh 90vh;

            &:hover {
                letter-spacing: 180px;
                margin-right: -180px;
            }

            > span:first-of-type {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0.8;
                grid-row: 1 / span 2;
                font-size: 30rem;
            }

            > span:nth-of-type(2) {
                align-self: end;
                line-height: 0.9;
            }

            > span:nth-of-type(3) {
                align-self: start;
                line-height: 0.9;
        }
    }
}
}

@keyframes letterAnimation {
    to {
        letter-spacing: 16px;
        margin-right: -16px;
    }
}

/* @keyframes letterAnimation {
    0% {
        letter-spacing: 16px;
        margin-right: -16px;
    }
    25% {
        letter-spacing: 180px;
        margin-right: -180px;
    }
    75% {
        letter-spacing: 180px;
        margin-right: -180px;
    }
    100% {
        letter-spacing: 16px;
        margin-right: -16px;
    }
} */

    .mainNav {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1000;
        background-color: rgba(28, 102, 167, 0.2);
        backdrop-filter: blur(8px);

        transform: translateY(-100%);
        opacity: 0;

        animation: navigationShow 0.6s cubic-bezier(0.33, 0.72, 0, 1.18) both;
        animation-timeline: scroll(root);

        animation-range: 100vh 115vh;

        > ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            list-style: none;
            margin: 0;
            padding: 1em;

            > li {
                margin: 0;
                list-style: none;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
                padding: 1em 3em;
                border-radius: var(--border-radius-nav);
                background-color: rgba(28, 102, 167, 0.8);

                > a {
                    text-decoration: none;
                    color: black;
                    font-size: var(--nav-font);
                    font-weight: bold;
                    /* color: white; */
                }
            }
        }
    }

    @keyframes navigationShow {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

/* @keyframes slideIn {
    0% {
        backdrop-filter: blur(20px);
        height: 100vh;
    }
    100% {
        backdrop-filter: blur(8px);
        height: 25vh;
    }
} */

main {
    margin-top: 5em;
    margin-left: 5vw;
}

.sideNav {
    background-color: rgba(28, 102, 167, 0.2);
    width: 5vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;

    animation: sideNavShow 0.6s cubic-bezier(0.33, 0.72, 0, 1.18) both;
    animation-timeline: scroll(root);
    animation-range: 100vh 115vh;

    > ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20em;
        margin: 0;
        padding: 0;

        > li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            border: 2px solid blue;
            font-size: var(--sideNav-font);
        }
    }
}

.sideNav > ul > li:first-of-type {
    position: relative;
    
    &::after {
    --sideNav-font: .5rem;
    content: "Professionele leerdoelen";
    background-color: rgba(28, 102, 167, 0.8);
    backdrop-filter: blur(8px);
    padding: 0.5em 1em;
    border-radius: var(--border-radius-nav);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: var(--sideNav-font);


    transition: left 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), transform 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), opacity 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
}
}

.sideNav > ul > li:first-of-type:hover::after {
    --sideNav-font: 1.5rem;
    opacity: 1;
    left: 100%;
    transform: translate(100%, -50%) rotate(0deg) scale(1.2);

    transition: left 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), transform 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), opacity 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
    
}

.sideNav > ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5vw;
    width: 4px;
    height: 100%;
    background-color: grey;
    z-index: -1;
}

.sideNav > ul::after {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5vw;
    width: 4px;
    height: 100%;
    background-color: blue;
    z-index: 0;

    transform-origin: top;
    transform: scaleY(0);

    animation: fillPath 1s cubic-bezier(0.33, 0.72, 0, 1.18) forwards;
    animation-timeline: scroll(root);

    animation-range: 100vh 250vh;
}

@keyframes fillPath {
    to {
        transform: scaleY(1);
    }
}

@keyframes sideNavShow {
    to {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }
}


    h2 {
        margin: 0 auto;
        margin-bottom: 0.5em;
        margin-top: 1em;
        width: 88%;
        font-size: var(--h2-font);
        color: rgba(28, 102, 167, 0.8);
        text-shadow: 0px 10px 50px rgba(28, 102, 167, 1);
    }


.profesionalGoalsContainer {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    margin: 0 auto;
    width: 90%;

    .profesionalContainer1, .profesionalContainer2, .profesionalContainer3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--BoxWidth);
        height: fit-content;
        /* padding: 2rem; */
        border-radius: var(--border-radius-articleBox);
        background-color: var(--backgroundColorArticle);

        transition: height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 0.6s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        > details {
            padding: 0em;
            width: 100%;
            
        > summary {
            list-style: none;
            font-size: var(--h3-font);
            padding: 2em;
            font-weight: bold;
            cursor: pointer;
            text-wrap: nowrap;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.6s cubic-bezier(0.33, 0.72, 0, 1.18);
        }

        > p {
            font-size: var(--p-font);
            margin-top: 0.5em;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
        }
    }

        > details[open] {
            padding: 4em;
            --h3-font: 4rem;
            --p-font: 2rem;

            > summary {
                padding: 0;
            }
        }

        &:has(details[open]) {
            --BoxWidth: 100%;
            --border-radius-articleBox: 24px;
            --backgroundColorArticle: rgba(28, 102, 167, 0.6);
        }
    }
}

.vakkenContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    margin: 0 auto;
    width: 90%;

    > .vakInleiding, .vakBT, .vakCSS, .vakHackaton, .vakHCD, .vakAPI, .vakMeesterproef {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: var(--BoxWidth);
        height: fit-content;
        background-color: var(--backgroundColorArticle);
        padding: 2rem;
        border-radius: var(--border-radius-articleBox);

        > h3 {
            font-size: var(--h3-font);
            margin-top: 0;
        }

        .iFrameContainer {
            position: relative;
            width: 100%;
            height: 30em;
            overflow: hidden;
            margin-top: 1em;
            border-radius: var(--border-radius-articleBox);
            transform: scale(1);
            
            transition: transform 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        > iFrame {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            border: none;
            transform: scale(0.5);
            transform-origin: top left;
        }

        &:hover {
            transform: scale(1.01);
        }
    }

        > p {
            font-size: var(--p-font);
            margin-top: 0.5em;
        }
    }

}

.weeklyNerdContainer {
    /* display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5em; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    margin: 0 auto;
    width: 90%;

    .weeklyNerd1, .weeklyNerd2, .weeklyNerd3, .weeklyNerd4, .weeklyNerd5, .weeklyNerd6, .weeklyNerd7, .weeklyNerd8 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--BoxWidth);
        height: fit-content;
        background-color: var(--backgroundColorArticle);
        padding: 2rem;
        border-radius: var(--border-radius-articleBox);

        transition: height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 0.6s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        > details {
            padding: 0em;
            width: 100%;
            
        > summary {
            list-style: none;
            font-size: var(--h3-font);
            padding: 1em;
            font-weight: bold;
            cursor: pointer;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.6s cubic-bezier(0.33, 0.72, 0, 1.18);
        }

        > h3 {
            font-size: var(--h3-font);
        }

        > h4 {
            font-size: var(--h4-font);
        }
        > h5 {
            font-size: var(--h5-font);
        }

        > p {
            font-size: var(--p-font);
            margin-top: 0.5em;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
        }

        > ul, ol {
            > li {
                font-size: var(--p-font);
                margin-top: 0.5em;

                transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
            }
        }
    }

        > details[open] {
            padding: 2em;
            --h3-font: 4rem;
            --p-font: 1.6rem;

            > summary {
                padding: 0;
            }
        }

        &:has(details[open]) {
            --BoxWidth: 100%;
            --border-radius-articleBox: 24px;
            --backgroundColorArticle: rgba(28, 102, 167, 0.6);
        }
    }
}

.theWebYouWantContainer {
    /* display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5em; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    margin: 0 auto;
    width: 90%;

    .theWebYouWant1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--BoxWidth);
        height: fit-content;
        background-color: var(--backgroundColorArticle);
        padding: 2rem;
        border-radius: var(--border-radius-articleBox);

        transition: height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 0.6s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        > details {
            padding: 0em;
            width: 100%;
            
        > summary {
            list-style: none;
            font-size: var(--h3-font);
            padding: 1em;
            font-weight: bold;
            cursor: pointer;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.6s cubic-bezier(0.33, 0.72, 0, 1.18);
        }

        > h3 {
            font-size: var(--h3-font);
        }

        > p {
            font-size: var(--p-font);
            margin-top: 0.5em;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
        }
    }

        > details[open] {
            padding: 2em;
            --h3-font: 4rem;
            --p-font: 2rem;

            > summary {
                padding: 0;
            }
        }

        &:has(details[open]) {
            --BoxWidth: 100%;
            --border-radius-articleBox: 24px;
            --backgroundColorArticle: rgba(28, 102, 167, 0.6);
        }
    }
}
/* 
.theWebYouWantContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 90%;

    .theWebYouWant1 {
        background-color: rgba(28, 102, 167, 0.2);
        padding: 1rem;
        border-radius: var(--border-radius-articleBox);
        width: 45%;

        > h3 {
            margin: 0;
            font-size: var(--h3-font);
        }
        > p {
            margin: 0;
            font-size: var(--p-font);
        }
    }
} */

/* MouseGlowmode */

.mouse-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(28, 102, 167, 0.6);
    box-shadow: 0px 0px 50px rgba(28, 102, 167, 0.8);
    /* mix-blend-mode: difference; */
    filter: blur(2px);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: none;
    z-index: 9999;
    animation: glowPulse 1.5s infinite;
}


@media (min-width: 1000px) {
    .profesionalGoalsContainer, .vakkenContainer, .weeklyNerdContainer, .theWebYouWantContainer {
        /* flex-direction: column; */
        grid-template-columns: 1fr 1fr;
        align-items: start;

        transition: grid-template-columns 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);
    }

    .profesionalGoalsContainer:has(> *:nth-child(odd) details[open]),
    .weeklyNerdContainer:has(> *:nth-child(odd) details[open]),
    .vakkenContainer:has(> *:nth-child(odd) details[open]),
    .theWebYouWantContainer:has(> *:nth-child(odd) details[open]) {
        grid-template-columns: 3fr 1fr;
    }

    .profesionalGoalsContainer:has(> *:nth-child(even) details[open]),
    .weeklyNerdContainer:has(> *:nth-child(even) details[open]),
    .vakkenContainer:has(> *:nth-child(even) details[open]),
    .theWebYouWantContainer:has(> *:nth-child(even) details[open]) {
        grid-template-columns: 1fr 3fr;
    }

    /* The details that is alone in one row, will take the full width */
    .profesionalGoalsContainer > *:last-child:nth-child(odd),
    .weeklyNerdContainer > *:last-child:nth-child(odd),
    .vakkenContainer > *:last-child:nth-child(odd),
    .theWebYouWantContainer > *:last-child:nth-child(odd) {
        grid-column: 1 / -1;
    }
}