

*, *::after, *::before {
    box-sizing: border-box;
    /* transition: all 0.3s cubic-bezier(0.33, 0.72, 0, 1.18); */
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    cursor: none;
}

:root {
    --h1-font: 15rem;
    --h2-font: 2.5rem;
    --h3-font: 2rem;
    --h4-font: 1.6rem;
    --p-font: 1.25rem;
    --nav-font: 1.5rem;

    --border-radius-articleBox: 12px;
    --border-radius-nav: 8px;
    --LearningGoalsBoxWidth: 33%;
    --backgroundColorArticle: rgba(28, 102, 167, 0.2);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 8em;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0; */
    overflow: hidden;
    background-color: rgba(28, 102, 167, 0.8);

    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
 */

    animation: slideIn 0.6s cubic-bezier(0.33, 0.72, 0, 1.18) forwards;
    /* animation-delay: 1s; */

    > h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        > a {
            font-size: var(--h1-font);
            letter-spacing: 16px;
            margin-right: -16px;
            color: black;
            text-decoration: none;
            padding: 0;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 5px;

            transition: letter-spacing 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), margin-right 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
            animation: letterAnimation 1.2s cubic-bezier(0.33, 0.72, 0, 1.18);

            &:hover {
                letter-spacing: 180px;
                margin-right: -180px;
            }

            > span:first-of-type {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0.8;
                grid-row: 1 / span 2;
                font-size: 30rem;
            }

            > span:nth-of-type(2) {
                align-self: end;
                line-height: 0.9;
            }

            > span:nth-of-type(3) {
                align-self: start;
                line-height: 0.9;
        }
    }
}
}

@keyframes letterAnimation {
    0% {
        letter-spacing: 16px;
        margin-right: -16px;
    }
    25% {
        letter-spacing: 180px;
        margin-right: -180px;
    }
    75% {
        letter-spacing: 180px;
        margin-right: -180px;
    }
    100% {
        letter-spacing: 16px;
        margin-right: -16px;
    }
}

    nav {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1000;
        background-color: rgba(28, 102, 167, 0.2);
        backdrop-filter: blur(8px);

        transform: translateY(-100%);
        opacity: 0;

        animation: navigationShow 0.6s cubic-bezier(0.33, 0.72, 0, 1.18) both;
        animation-timeline: scroll(root);

        animation-range: 100vh 115vh;

        > ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            list-style: none;
            margin: 0;
            padding: 1em;

            > li {
                margin: 0;
                list-style: none;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
                padding: 1em 3em;
                border-radius: var(--border-radius-nav);
                background-color: rgba(28, 102, 167, 0.8);

                > a {
                    text-decoration: none;
                    color: black;
                    font-size: var(--nav-font);
                    font-weight: bold;
                    /* color: white; */
                }
            }
        }
    }

    @keyframes navigationShow {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

/* @keyframes slideIn {
    0% {
        backdrop-filter: blur(20px);
        height: 100vh;
    }
    100% {
        backdrop-filter: blur(8px);
        height: 25vh;
    }
} */

main {
    margin-top: 10em;
}

    h2 {
        margin: 0 auto;
        margin-bottom: 0.5em;
        margin-top: 1em;
        width: 88%;
        font-size: var(--h2-font);
    }


.profesionalGoalsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 90%;

    .profesionalContainer1, .profesionalContainer2, .profesionalContainer3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--LearningGoalsBoxWidth);
        height: fit-content;
        /* padding: 2rem; */
        border-radius: var(--border-radius-articleBox);
        background-color: var(--backgroundColorArticle);

        transition: height 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), width 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), padding 0.3s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 0.6s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

        > details {
            padding: 2em;
            width: 100%;
            
        > summary {
            list-style: none;
            font-size: var(--h3-font);
            font-weight: bold;
            cursor: pointer;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
        }

        > p {
            font-size: var(--p-font);
            margin-top: 0.5em;

            transition: font-size 0.3s cubic-bezier(0.33, 0.72, 0, 1.18);
        }
    }

        > details[open] {
            --h3-font: 2.8rem;
            --p-font: 1.5rem;
        }

        &:has(details[open]) {
            --LearningGoalsBoxWidth: 100%;
            --border-radius-articleBox: 24px;
            --backgroundColorArticle: rgba(28, 102, 167, 0.6);
        }
    }
}

.weeklyNerdContainer {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 90%;

    .weeklyNerd1, .weeklyNerd2, .weeklyNerd3 {
        background-color: rgba(28, 102, 167, 0.2);
        padding: 2rem;
        border-radius: var(--border-radius-articleBox);


        > h3 {
            margin: 0;
            font-size: var(--h3-font);
        }
        > h4 {
            margin: 0;
            font-size: var(--h4-font);
        }
        > p {
            margin: 0;
            font-size: var(--p-font);
        }
    }
}

.theWebYouWantContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    width: 90%;

    .theWebYouWant1 {
        background-color: rgba(28, 102, 167, 0.2);
        padding: 1rem;
        border-radius: var(--border-radius-articleBox);
        width: 45%;

        > h3 {
            margin: 0;
            font-size: var(--h3-font);
        }
        > p {
            margin: 0;
            font-size: var(--p-font);
        }
    }
}

/* MouseGlowmode */

.mouse-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(28, 102, 167, 0.6);
    box-shadow: 0px 0px 50px rgba(28, 102, 167, 0.8);
    /* mix-blend-mode: difference; */
    filter: blur(2px);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: none;
    z-index: 9999;
    animation: glowPulse 1.5s infinite;
}


@media (min-width: 1000px) {
    .profesionalGoalsContainer, .weeklyNerdContainer, .theWebYouWantContainer {
        flex-direction: row;
        align-items: stretch;
    }
}